/**
 * Custom css styles
 *
 * 
 */

/*****
	
	GLOBAL CLASSES

*****/

.group-container {
	max-width: 100%;
	margin-top: 20px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/*****

	SIDENAV

*****/

.sidenav-spacer {
	margin-right: 10px;
	padding: 0;
}

.sidenav-wrapper {
	margin: 0;
	padding: 0 10px;
	position: fixed;
}

.sidenav {
	margin: 0;
	display: block;
	padding: 20px 0px;
	background: #fff;
	border-radius: 10px;
}

.sidenav .logo img {
	width: 180px;
	padding-left: 10px;
}

.sidenav .header-text h5 {
	margin: 20px 0px;
	padding-left: 20px;
	color: #222;
	font-weight: bold;
}

.sidenav ul {
	padding-left: 30px;
	list-style: none;
}

.sidenav li {
	margin: 20px 0px;
}

.sidenav li a {
	color: #555;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.sidenav li a:hover {
	color: #086bce;
}

/*****

	HEADER BAR 

*****/

.headerbar {
	margin-bottom: 20px;
	background: #fff;
}

.headerbar .navbar-brand {
	color: #555;
}

.inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

/*****

	NEWS SLIDER

*****/

#news-slider {
	margin-bottom: 30px;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
}

#news-slider .carousel-inner {
	width: 100%;
	height: 500px;
}

#news-slider .carousel-item {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* thumbnails */

#news-slider .carousel-thumbnails {
    display: block;
	height: 100%;
	width: 30%;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 2;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
}

#news-slider .carousel-thumbnails li {
	display: block;
	height: 25%;
	border-bottom: 1px #eee solid;
	padding: 20px 30px;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
#news-slider .carousel-thumbnails li:hover {
	background: #55f;
}
#news-slider .carousel-thumbnails li.active {
	background: #55f;
}

#news-slider .carousel-thumbnails p,
#news-slider .carousel-thumbnails span {
	font-weight: bold;
	color: #fff;
}

/* caption */

#news-slider .item-caption {
	width: 70%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 30px;
	text-align: left;
	color: #fff;
	background: rgba(0, 0, 0, 0.4); /* For browsers that do not support gradients */
    background: linear-gradient(to top, black, transparent); /* Standard syntax (must be last) */
}

#news-slider .item-caption span {
	font-weight: bold;
}

#news-slider .item-caption h3 {
	font-size: 30px;
	font-weight: bold;
}

#news-slider .item-caption a {
	color: #fff;
	text-decoration: none;
	transition: 0.2s;
}
#news-slider .item-caption a:hover {
	color: #55f;
	text-shadow: #111 1px 1px 1px;
}

#news-slider .item-caption p {
	font-size: 15px;
	font-weight: bold;
}

#news-slider .item-caption p > span {
	margin-right: 15px;
}

#news-slider .item-caption p > span::after {
	content: "•";
	position: relative;
	left: 10px;
}

#news-slider .item-caption .share-icons > a {
	margin-left: 8px;
}

/****
	
	Articles

****/

.card-deck {
	margin: 0;
}

.article a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	transition: 0.2s;
}
.article a:hover {
	color: #55f;
}

.article .pic img:hover {
	opacity: 0.5;
	transition: 0.3s;
}

/* potrait */

.article-potrait {
	padding: 0;
}

.article-potrait .card {
	margin: 5px;
	height: 400px;
}

.article-potrait .card-body {
    padding-top: 3px;
    padding-bottom: 0px;
}

.article-potrait .pic {
	max-height: 250px;
	overflow: hidden;
}

/* landscape */

.article-landscape {
	margin: 5px;
}

.article-landscape,
.article-landscape .card {
	height: 250px;
}

.article-landscape .card-img-top {
	width: auto;
	max-height: 250px;
}

.article-landscape .pic {
	max-height: 248px;
	max-width: 120%;
	overflow: hidden;
}

.article-landscape ,.text {
	padding-left: 0;
}
